/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.min.css";

$primary-color: #006400;
$primary-color-hover: #008000;

html, body {
  height: 100%;
}

body { padding-top: 5em; }

.thumbnail {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.thumbnail img {
  height: 80px;
}

.navbar { 
  border-bottom: 3px solid #e7e7e7;
}

.navbar-light .navbar-brand {
  color: $primary-color;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: $primary-color-hover;
}

.list-group-item.active {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-primary:hover {
  background-color: $primary-color-hover;
  border-color: $primary-color-hover;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: $primary-color;
  border-color: $primary-color;
}

.form-control:focus {
  border-color: $primary-color;
}